<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/klassy-logo.png" align="klassy cafe html template"
                            style="width: 13rem;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a [routerLink]="['/','home']"
                                [routerLinkActive]="['active']"><fa-icon [icon]="faHome"></fa-icon> Home</a></li>
                        <li class="scroll-to-section" *ngIf="validAuth('customer', true)"><a
                                [routerLink]="['/','show-booked-tables']" [routerLinkActive]="['active']">My
                                Reservation</a></li>
                        <li class="scroll-to-section" *ngIf="validAuth('customer', true)"><a
                                [routerLink]="['/','show-restaurants']" [routerLinkActive]="['active']">Restaurants</a>
                        </li>
                        <li class="submenu">
                            <a>Options <fa-icon [icon]="faCog"></fa-icon></a>
                            <ul>
                                <li *ngIf="validAuth('vendor', true)"><a [routerLink]="['/','edit-restaurants']">Edit
                                        Restaurants</a></li>
                                <li *ngIf="!validAuth('', false)"><a [routerLink]="['/','register']">Register</a></li>
                                <li *ngIf="!validAuth('', false)"><a [routerLink]="['/','login']">SignIn <fa-icon [icon]="faSignInAlt"></fa-icon></a></li>
                                <li *ngIf="validAuth('', false)"><a (click)="logout()">LogOut <fa-icon [icon]="faSignOutAlt"></fa-icon></a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<!-- ***** Main Start ***** -->
<main>
    <router-outlet></router-outlet>
</main>
<!-- ***** Main End ***** -->
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12 row-col">
                <div class="right-text-content">
                    <ul class="social-icons">
                        <li><a href="#"><fa-icon [icon]="faFacebookSquare"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faInstagramSquare"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faTwitterSquare"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 row-col">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/white-logo.png" alt="" style="width: 15rem;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 row-col">
                <div class="left-text-content">
                    <p>&copy; Copyright Klassy Restaurants Co.
                        <br>Best service since 1990
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer End ***** -->